<!--<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>-->



<h1>Landivarianos por el medio ambiente</h1>
<h3>Detalles de la actividad</h3>
<ul>



<li> Fecha de inicio: 13-04-2021 </li>
<li> Fecha a finalizar: 13-06-2021</li>
<li> Cupos disponibles: 15 </li>
<li> Resticciones: Ninguna</li>
<li> Horas a acreditar: 8</li>



</ul>
<h3>Descripción</h3>
<ul>
<h5>El programa Landivarianos por el Medio Ambiente es un tipo de voluntariado en el cual se hará énfasis en alternativas sustentables para implementar en el día a día de los estudiantes landivarianos. Así
en alternativas sustentables para implementar en el día a día de los estudiantes landivarianos. Así también fortalecer el cuidado del orquidiario landivariano para su conservación de orquídeas
también fortalecer el cuidado del orquidiario landivariano para su conservación de orquídeas guatemaltecas dentro del Campus Central de la URL
</h5></ul>



<div style="text-align: center;">
<button style="background-color:yellow; border-color:blue; color:black" type="button" onclick="alert('Solicitud enviada')">Solicitar inscripción</button>
</div>
